iat Checker is stricter than what RFC 7519 requires

Right now `Jose\Checker\IssuedAtChecker`throws an exception if the `iat` time is higher than the current time: https://github.com/Spomky-Labs/jose/blob/master/src/Checker/IssuedAtChecker.php#L29
I'm not sure if this should be a part of the standard checker because of two reasons:

 The JWT standard doesn't restrict the numeric value of the `iat` claim in any way:

> 4.1.6. "iat" (Issued At) Claim
>The "iat" (issued at) claim identifies the time at which the JWT was
>issued. This claim can be used to determine the age of the JWT. Its
>value MUST be a number containing a NumericDate value. Use of this
>claim is OPTIONAL.

This means if somebody doesn't care that much about the value of `iat` has to modify the library to get the desired behaviour.

And second, while checking if the token was issued in the future may seem like a sensible sanity check, it should include some leeway, as servers' time might not be in sync.

While I think the library should behave as the standard says, I don't know how to handle the change in behaviour in the library (new behaviour as optional, default, simply remove the old one, etc).

Hi @psafont,

This claim checker, like any other checkers shipped with this library, is not mandatory at all.
You can decide to use it or not depending on your application context.

The [RFC7519 section 7.2](https://tools.ietf.org/html/rfc7519#section-7.2) mentions that if a step fails, then the token should be rejected. This is why all those checkers throw an exception.

However, if you want to check that claims but you think that the token should not be rejected (maybe the `iat` claim is not so important) then you can create your own checker. You just have to implement the `Jose\Object\JWTInterface` interface.

Example:

```php
namespace Acme\Checker;

use Jose\Object\JWTInterface;

class MyCustomIssuedAtChecker implements ClaimCheckerInterface
{
    /**
     * {@inheritdoc}
     */
    public function checkClaim(JWTInterface $jwt)
    {
        if (!$jwt->hasClaim('iat')) {
            return [];
        }

        $iat = (int) $jwt->getClaim('iat');
        if ($iat > time()) {
            log('warning', 'The JWT is issued in the future.');
        }

        return ['iat'];
    }
}
```


I expected the recommended checkers to behave how the RFC states, I didn't see anywhere that the behave differently.

As for writing new checkers, thanks for the suggestion. I already write one to force claims to be present, but I wanted to see if you were open to changes first in this case.

Now that I've seen some Checkers, the library doesn't seem to  use asserts to check if`iat`, `exp` or `nbt` are numeric values, shouldn't that be the case?

I am working on [the next major release](https://github.com/Spomky-Labs/jose/tree/v7) so I am open to any suggestion.

There is not check on the `iat`, `exp` or `nbf` claim types because those claims are type casted by the checker.

From what I've seen, PHP happily typecasts string containing letters and numbers to integers, I don't think this should be allowed (as per the fragment I referenced `MUST be a number`). Here's what I do to enforce that 'time' claims actually contain numbers: https://github.com/EMBL-EBI-TSI/aap-client-php/blob/master/src/Checker/DateClaimsChecker.php, there is some relevant test data here: https://github.com/EMBL-EBI-TSI/aap-client-php/blob/master/src/Data/PayloadFactory.php

As for suggestion for the checkers, I haven't seen any unit tests for them (in `tests/Unit/Checker`). I can write some tests for them if you want and that way their behaviour is documented and can be decided upon.

Thanks for sharing your checker implementation.
The behaviour of the checkers are tests through the manager in the [CheckerManagerTest file](https://github.com/Spomky-Labs/jose/blob/master/tests/Functional/CheckerManagerTest.php).

I added an assertion for each numeric claim in the v7 branch (not ushed at the moment). 