problem

Hi,
I'm using PHP 7.0+ and PHP Crypto Extension.
In the class `\Jose\Algorithm\ContentEncryption\AESGCM` in the **encryptContent** and **decryptContent** methods, you override the AAD:
```php
$calculated_aad = $encoded_protected_header;
if (null !== $aad) {
          $calculated_aad .= '.'.$aad;
}
```
What for? Cheating with this alogortm without using AAD ($aad = null) does not work. Returns TAG_VERIFY_FAILED.
If you do not override:
```php
$calculated_aad = $aad
```
then everything works out.

Hi,

This is required by the [RFC7516 section 5.1 step 14](https://tools.ietf.org/html/rfc7516#section-5.1):

> Let the Additional Authenticated Data encryption parameter be
        ASCII(Encoded Protected Header).  However, if a JWE AAD value is
        present (which can only be the case when using the JWE JSON
        Serialization), instead let the Additional Authenticated Data
        encryption parameter be ASCII(Encoded Protected Header || '.' ||
        BASE64URL(JWE AAD)).

I correctly understand that when JWE use compact JSON, AAD is assigned Encoded Protected Header in decrypting and encrypting algoritm.



That's it.

```php
$calculated_aad = $encoded_protected_header; // Encoded Protected Header
if (null !== $aad) { // If AAD member is present (only with JSON serialization mode)
          $calculated_aad .= '.'.$aad; // Encoded Protected Header || '.' || BASE64URL(JWE AAD)
}
```